.openerp .oe_postal > img {
  max-height: 600px;
  max-width: 600px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 10px;
  -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border: none;
  margin-bottom: 10px;
}
.openerp .oe_gridcard + div {
  margin-left: 5px;
}
